
<div class='row justify-content-center'>

	<div class='col-6'>
		<h1 style='text-align: center'>Editing Channel</h1>
<div class = "form-group">
<%= simple_form_for @channel do |data| %>
	<%= data.input :name, input_html:{class: 'form-control'}%>
	<%= data.input :channel_url, input_html:{class: 'form-control'} %>
	<br>
	<%= data.button :submit, class: 'btn btn-primary btn-block' %>
	<br>
<%end%>
<%= button_to 'Back', channels_path, method: :get, class: 'btn btn-danger btn-block' %>
</div>
</div>
</div>