<p id="notice"><%= notice %></p>

<h1>
  Channels
  <form action=<%=new_channel_path%>>
    <input type='submit' value='New Channel' class='btn btn-primary' align='right'>
  </form>
</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Channel Name</th>
      <th scope="col">Channel Url</th>
    </tr>
  </thead>

  <tbody>
    <% @channels.each do |channel| %>
      <tr>
        <td><%= channel.id %></td>
        <td><%= link_to channel.name,channels_iframe_path(channel.id)%></td>
        <td><%= channel.channel_url%></td>
        <td><%= link_to 'Show', channel %></td>
        <td><%= link_to 'Edit', edit_channel_path(channel) %></td>
        <td><%= link_to 'Destroy', channel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= will_paginate %>
