<h1>New Channel</h1>
<div class = "form-area">
<%if !user_signed_in? %>
<h2> Make sure the data is correct as you cannot edit if you are not logged in</h2>
<%end%>
<%= simple_form_for @channel do |data| %>
	<%= data.input :name %>
	<%= data.input :channel_url %>
	<%= data.input :youtube_id %>
	<%= data.button :submit %>
<%end%>
<%= link_to 'Back', channels_path %>
</div>