<h1>New Channel</h1>
<%= @errors unless @errors.nil? %>
<div class = "form-area">
	<%= simple_form_for @channel do |data| %>
	<%= data.input :youtube_id %>
	<%= data.button :submit %>
<%end%>
<br>
<%= link_to 'Back', channels_path %>
</div>