
<div class='row justify-content-center'>
	<div class='col-6'>
		<h1 style='text-align: center' >New Channel</h1>
		<div class = "form-group">
			<%= simple_form_for @channel do |data| %>
			<%= data.input :youtube_id, input_html: {class: 'form-control'} %>
			<br>
			<%= data.button :submit, class: 'btn-primary btn btn-block' %>
			<%end%>
			<br>
			<%= button_to 'Back', channels_path, method: :get, class: 'btn btn-danger btn-block' %>
			<br>
			<div class='text-danger text-center font-weight-bold'>
				<%= @errors unless @errors.nil? %>
			</div>
		</div>
	</div>
</div>