<p id="notice"><%= notice %></p>

<div class='row justify-content-center'>
	<div class='col-6' align='center'>
		<div class='card'>
			<div class='card-title'>
				<p> Channel Name : <%= @channel.name %> </p>
				<p> Channel URL : <%= @channel.channel_url %> </p>
			</div>
			<div class='card-body'>
				<p> Videos : <% @yt_objs.each do |vid| %>
					<ul style ="padding:0; list-style-type: none;">
						<li class='embed-responsive embed-responsive-16by9'>
							<%= vid.embed_html.html_safe%>
						</li>
						<%end%>	
					</ul>
				</p>
			</div>
		</div>
	</div>
</div>
<%= will_paginate @videos%>
<%= link_to 'Back', channels_path %>
