<p id="notice"><%= notice %></p>

<p> Channel Name : <%= @channel.name %> </p>
<p> Channel URL : <%= @channel.channel_url %> </p>
<p> Videos : <% @videos.where(channel_id: @channel.id).each do |vid| %> 
	<ul style ="padding:0; list-style-type: none;">
			<li><%= vid.title%></li>
			<%end%>	
		</ul>
			</p>

<%= link_to 'Edit', edit_channel_path(@channel) %> |
<%= link_to 'Back', channels_path %>
