<p id="notice"><%= notice %></p>
<div class='row justify-content-center'>
	<div class='col-6' align='center'>
		<div class='card'>
			<div class='card-title'>
				<p style='padding-top: 2rem'> Channel Name : <%= @channel.name %> </p>
				<p> Channel URL :<a href=<%=@channel.channel_url%>> <%= @channel.channel_url %></a> </p>
			</div>
			<div class='card-body'>
				<% @videos.where(channel_id: @channel.id).each do |vid| %>
				<ul style ="padding:0; list-style-type: none;">
					<li><%= link_to vid.title, video_path(vid)%></li>
					<%end%>	
				</ul>
				<div class='row justify-content-center'>
				<%= will_paginate(@videos) %>
			</div>
			</div>
		</div>
		<%= button_to 'Edit', edit_channel_path(@channel),method: :get, class: 'btn btn-secondary btn-block' %>
		<br>
		<%= button_to 'Back', channels_path, method: :get, class: 'btn btn-info btn-block' %>
	</div>
</div>

