
<%Yt.configure do |config|%>
  <%config.log_level = :debug%>
<%end%>
<body>
	<% if user_signed_in? %>
		<p> Videos :
			<ul style ="padding:0; list-style-type: none;">
				<% @videos.each_slice(5) do |v1,v2,v3,v4,v5| %>
				<div class='row'>
					<div class='col-sm'>
						<%= (Yt::Video.new id:v1.youtube_id).embed_html.html_safe %>
					</div>
					<div class='col-sm'>
						<%= (Yt::Video.new id:v2.youtube_id).embed_html.html_safe %>
					</div>
					<div class='col-sm'>
						<%= (Yt::Video.new id:v3.youtube_id).embed_html.html_safe %>
					</div>
					<div class='col-sm'>
						<%= (Yt::Video.new id:v4.youtube_id).embed_html.html_safe %>
					</div>
					<div class='col-sm'>
						<%= (Yt::Video.new id:v5.youtube_id).embed_html.html_safe %>
					</div>
				</div>
				<%end%>	
			</ul>
		</p>
		<%end%>
	<div>
		<%= will_paginate @videos%>
	</div>
</body>

<% console %>
