<p id="notice"><%= notice %></p>
<h1 class='typography-display-3 text-center'>
  Videos
</h1>
<table class='table table-striped table-bordered'>
  <thead class='thead-dark'>
    <tr>
      <th scope='col'>#</th>
      <th scope='col'>Video Title</th>
      <th scope='col'>Video URL</th>
      <th scope='col'>View</th>
      <th scope='col'>Modify</th>
      <th scope='col'>Remove</th>
    </tr>
  </thead>

  <tbody>
    <% @videos.each do |video| %>
      <tr>
        <td><%= video.id%></td>
        <td><%= video.title%></td>
        <td><%= video.url%></td>
        <td><%= button_to 'Show', video_path(video), method: :get, class: 'btn btn-info btn-block' %></td>
        <td><%= button_to 'Edit', edit_video_path(video), method: :get, class: 'btn btn-secondary btn-block' %></td>
        <td><%= button_to 'Destroy', video, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-block' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= button_to 'New Video',new_video_path, method: :get, class: 'btn btn-primary btn-block' %>
<br>
<div class='row'>
  <div class='col align-middle' align='center'>
    <%= will_paginate %>
  </div>
</div>