<h1>New Video</h1>
<%if !user_signed_in? %>
<h2> Make sure the data is correct as you cannot edit if you are not logged in</h2>
<%end%>
<%= simple_form_for @video do |data| %>
	<%= data.input :youtube_id %>
	<%= data.select(:channel_id, @channels.collect {|ch| [ch.name, ch.id]}) -%>
	<%= data.button :submit %>
<%end%>
<%= link_to 'Back', videos_path %>
