<p id="notice"><%= notice %></p>
<div class='row'>
	<div class='col' align='center'>
		<div class='card' style='width: 32rem'>
			<ul class='list-group'>
				<li class='list-group-item d-flex justify-content-between align-items-center'>
					Video Name : <%= @video.title %>
				</li>
				<li class='list-group-item d-flex justify-content-between align-items-center'> 
					Video URL : <%= @video.url %>
				</li>
				<li class='list-group-item d-flex justify-content-between align-items-center'> 
					Video Length : <%=@video.duration %>
				</li>
				<li class='list-group-item d-flex justify-content-between align-items-center'> 
					Channel : <%= link_to @video.channel.name, channel_path(@video.channel) %>
				</li>
			</ul>
		</div>
	</div>
	<div class='col'>
		<div class='card' style='width: 32rem'>
			<div class='embed-resposive embed-responsive-16by9 card-body'>
			 <%= @yt_obj.embed_html.html_safe%>
			 <div align='center'>
				 <%= button_to 'Edit', edit_video_path(@video), method: :get, class: 'btn btn-primary btn-block' %>
				 <br>
				 <%= button_to 'Back', videos_path, method: :get, class: 'btn btn-primary btn-block' %>
			 </div>
			</div>
		</div>
	</div>
</div>