<table class="table table-hover">
  <thead>
    <th>Beer name</th>
    <th>Photo</th>
    <th>Description</th>
    <th>Style</th>
    <th>Link for show</th>
    <th>Link for edit</th>
    <th>Link for delete</th>
  </thead>
  <tbody>
  <%@beers.each do |beer|%>
    <tr>
      <td><%=beer.beer_name%></td>
      <td><img class="beer_photo" src="<%=beer.photo%>"></td>
      <td><%=beer.description%></td>
      <td><%=beer.beer_style.style_name%></td>
      <td><%=link_to 'Here',beer_path(beer), class: "btn btn-info"%></td>
      <td><%=link_to 'Edit',edit_beer_path(beer), class: "btn btn-info"%></td>
      <td><%= link_to "delete", beer, method: :delete,
                              data: { confirm: "You sure?" } , class: "btn btn-danger"%></td>
    </tr>
    <%end%>
  </tbody>
</table>
<%= link_to "Add a new beer!", new_beer_path, class:"btn btn-default", method: "get" %>
