<%= link_to 'Back', beers_path %>

<p>Beer name:
  <%= @beer.beer_name%>
</p>
<p>Photo:
    <%= @beer.photo %>
</p>
<p>Description:
  <%= @beer.description%>
</p>
<p>Style:
  <%= @beer.beer_style.style_name%>
</p>
<p>Breweries:
<% @breweries.each do |br| %>
  <%= br.brewery_name%>,

<%end%>atat.
</p>

