<div class="form-area">  
  <h3 style="margin-bottom: 25px; text-align: center;">Add a new beer style</h3>
  <%= simple_form_for @style do |f| %>
    
    <%= f.input :style_name  %>
    <%= f.input :description%>
    <%= f.input :alcohol %>
    <%= f.input :bitterness%>
    <%= f.input :color %>
    
    <%= f.button :submit %>
  <%end%>
</div>