<%= link_to 'Back', beer_styles_path %>

<p>Style name:
  <%= @style.style_name%>
</p>
<p>Description:
  <%= @style.description%>
</p>
<p>Alcohol:
  <%= @style.alcohol%>
</p>
<p>Bitterness:
  <%= @style.bitterness%>
</p>
<p>Color:
  <%= @style.color%>
</p>

